@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

body {
  background-color: rgb(241, 239, 239);
  font-family: "Indie Flower", cursive;
  position: relative;
  min-height: 100vh;
}

.crossed {
  text-decoration: line-through;
  color: rgb(177, 175, 175);
  order: 2;
}

.container {
  justify-content: center;
  padding-bottom: 70px;
}
h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0.5em auto;
}

img {
  display: inline-flex;

  height: 30px;
  width: 30px;
}

img:hover {
  background-color: rgba(255, 57, 57, 0.657);
  border-radius: 100%;
}
ul {
  width: 50%;
  display: flex;
  align-self: center;
  margin: auto;
  flex-direction: column;
}
li {
  display: flex;
  flex-grow: 1;
  padding: 0.5em;
  margin: 0.5em auto;
  width: 100%;
  background-color: rgb(246, 246, 246);
  box-shadow: 3px 3px 5px rgb(168, 166, 166);
}
li > p {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

input {
  width: 100%;
  display: flex;
  padding: 0.5em;
  margin: 2em auto 0.7em auto;
  width: 70%;
  font-size: 1.4rem;
  border-radius: 2em;
  text-align: center;
  color: rgb(70, 70, 70);
  background-color: rgb(223, 219, 219);
}
button {
  display: block;
  margin: 0.5em auto;
  font-size: 1.2rem;
  padding: 0.5em;
  border-radius: 0.4em;
  background-color: rgb(223, 219, 219);
}
button:hover {
  background-color: rgb(212, 164, 157);
}
.search {
  width: 100%;
  height: 100px;
}
.search input {
  width: 20%;
  background-color: none;
  align-self: center;
  border: none;
  background-color: rgba(238, 238, 82, 0.678);
}
footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  height: 40px;
  text-align: center;
  align-content: center;
  width: 100%;
}
a {
  margin-top: 0.6em;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
